.modal__wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0, .2);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.modal__wrapper.open{
    height: 100%;
    display: block;
}

.modal__wrapper.close{
    height: 0;
    display: none;
}

.modal__body {
    max-width: 500px;
    margin: auto;
    background: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    -ms-overflow-style: none;
}