.register{
    background-color: grey;
    width: 300px;
}
.register h2{
    margin: 0;
}
.register__inputs{
    width: 97%;
}
.register__inputs a{
    
}
.register__inputs input{
    width: 100%;

}
.register__buttons{
    display: flex;
    justify-content: space-around;
}
.register__buttons button{

}