li{
    list-style-type: none
}

.task{
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
  width: 600px;
}

.task-title{
  display: block;
  border-bottom: 1px solid lightgrey;
  text-align: center;
}

.delete {
  position: relative;
  top: 8px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.delete:hover {
  opacity: 1;
}
.delete:before,
.delete:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 23px;
  width: 2px;
  background-color: #333;
}
.delete:before {
  transform: rotate(45deg);
}
.delete:after {
  transform: rotate(-45deg);
}

div{
  user-select: none;
}

.item__edit{
  height: 32px;
  margin: 0 0 0 15px;
}

.block{
  display: none;
}

.done {
    text-decoration: line-through;
}
.edit{
    opacity: 0.3;
}
.edit:hover{
    opacity: 1;
}

.dateOfCreate{
  display: block;
  /* margin-left: 40px; */
  font-size: 0.4em;
  opacity: 0.5;
}