.main__head h1{
    font-size: 4em;
    margin: 0;

}
.main__head h2{
    margin: 0 0 100px 0;

    font-size: 3em;
}

.newItem{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    text-align: center;
    outline: none;
    font-size: 2em
}

.main__list li{
   font-size: 2em;
   margin: 15px;
}

.hide{
    display: none;
}